[submodule "dnd-test"]
	path = dnd-test
	url = https://github.com/vacuitydev/dnd-test.git
[submodule "docx-generation-test"]
	path = docx-generation-test
	url = https://github.com/vacuitydev/docx-generation-test.git
[submodule "email-functionality-test"]
	path = email-functionality-test
	url = https://github.com/vacuitydev/email-functionality-test.git
