[submodule "dnd-test"]
	path = dnd-test
	url = https://github.com/vacuitydev/dnd-test.git
[submodule "docx-generation-test"]
	path = docx-generation-test
	url = https://github.com/vacuitydev/docx-generation-test.git
[submodule "email-functionality-test"]
	path = email-functionality-test
	url = https://github.com/vacuitydev/email-functionality-test.git
[submodule "email-verification-test"]
	path = email-verification-test
	url = https://github.com/vacuitydev/email-verification-test.git
[submodule "preview-pdf-test"]
	path = preview-pdf-test
	url = https://github.com/vacuitydev/preview-pdf-test.git
